
.grid-layout{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "b b r r"
    "b b y o"
    "g g g g";
}


    .r{
        background-color: red;
        grid-area: r;
        padding: 10px;  /* padding is space from text to box (inner negative space)*/
        margin: 10px; /* margin box from box (outer negativ space) */
    }

    .b{
        background-color: blue;
        grid-area: b;
        font-size: 25px;
        color: rgb(171, 216, 255);
    }

    .y{
        background-color: rgb(255, 255, 0);
        grid-area: y;
    }

    .o{
        background-color: rgb(255, 132, 0);
        grid-area: o;
    }

    .g{
        background-color: rgb(0, 255, 8);
        grid-area: g;
    }